<?xml version="1.0"?>
<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="realsense_enabled" default="false"/>
  <arg name="urdf_extras" default="$(optenv HUSKY_URDF_EXTRAS)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- Launch gazebo-->
  <include file="$(find husky_gazebo)/launch/playpen.launch" />

  <include file="$(find husky_control)/launch/control.launch">
    <arg name="multimaster" value="false"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="realsense_enabled" default="$(arg realsense_enabled)"/>
    <arg name="urdf_extras" value="$(arg urdf_extras)"/>
  </include>

  <!-- Additional nodes for specific accessories -->
  <group if="$(arg realsense_enabled)">
    <include file="$(find husky_gazebo)/launch/realsense.launch" />
  </group>

  <!-- Spawn robot in gazebo -->
  <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model"
      args="-x $(arg x)
            -y $(arg y)
            -z $(arg z)
            -Y $(arg yaw)
            -unpause
            -urdf
            -param robot_description
            -model vaultbot
            -gazebo_namespace gazebo" />

</launch>
